.atmosphere {
    margin-top: -1px;
    padding: 106px 0;
    min-height: 1000px;

    &__bg {
        width: 100%;
        position: absolute;
        left: 0;
        top: 8%;
        z-index: -1;

        img {
            width: inherit;
        }
    }

    .title {
        max-width: 920px;
        margin: 0 auto;
        margin-bottom: 45px;

        &__bottom {
            margin-top: -5%;
        }
    }

    &__text {
        max-width: 838px;
        margin: 0 auto;
        position: relative;
    }

    .subtitle {
        font-size: 20px;
        line-height: 32px;
        color: #fff;
        text-align: center;

        span {
            color: #EAB1B4;
        }

        &-bottom {
            position: absolute;
            top: 50px;
            left: 37%;
            font-family: 'Tenor Sans', sans-serif;
            font-size: 120px;
            line-height: 80px;
            color: rgba(#fff, .06);
            text-align: left;
        }
    }

    &__item+.atmosphere__item {
        margin-top: -20%;
    }

    &__item {
        position: relative;
        margin-left: -195px;
        display: flex;
        align-items: center;

        &:nth-child(2n) {
            margin-right: -195px;
            flex-direction: row-reverse;
            margin-left: auto;
        }
    }

    &__img {
        position: relative;
        width: 100%;
        z-index: 0;

        img {
            width: 100%;
        }
    }

    &__box {
        z-index: 1;
    }

    .box-1 {
        margin-left: -25%;
    }

    .box-2 {
        margin-right: -30%;
    }

    &__num {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 300px;
        line-height: 352px;
        text-transform: uppercase;
        opacity: 0.32;
        color: rgba(176, 119, 107, 1);
        background: linear-gradient(rgba(248, 230, 226, 1), rgba(176, 119, 107, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__descr {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 30px;
        line-height: 40px;
        color: #FFFFFF;
        max-width: 450px;
    }

    &__form {
        margin-left: 65px;
        margin-top: -12%;
        z-index: 0;
    }

    &__form-bg {
        max-width: 1290px;
        margin: 0 auto;
        margin-top: 35px;
        position: relative;

        img {
            position: absolute;
        }
    }

    // &__bottom {
    //     position: absolute;
    //     top: 7px;
    //     left: 40px;
    // }

    &__bottom {
        &-box {
            display: flex;
            align-items: center;
        }

        &-img {
            z-index: 0;

            img {
                position: initial;
                width: inherit;
            }
        }
    }

    &__form-title {
        font-size: 30px;
        line-height: 32px;
        max-width: 320px;
        text-align: center;
        margin-bottom: 25px;
    }

    &__form-subtitle {
        max-width: 322px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 61px;
    }
}