.button {
    position: relative;
    display: block;
    background: linear-gradient(314deg, #C88C61 25%, #EBBE9C 88%);
    box-shadow: 0px 0px 12px #E5B79A;
    width: 340px;
    height: 99px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #FFFFFF;
    border-bottom: 5px solid #B98766;
    border-radius: 3% / 50%;
    padding-right: 45px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    &:hover {
        background: linear-gradient(314deg, #f3a66e 25%, #EBBE9C 88%);
    }

    &::after {
        content: url('../icons/tap.svg');
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 53px;
    }

    &:active {
        border-bottom: none;
    }
}