.button {
    position: relative;
    display: block;
    background: linear-gradient(314deg, #C88C61 25%, #EBBE9C 88%);
    box-shadow: inset 0px 0px 12px #E5B79A;
    width: 100%;
    height: 99px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #FFFFFF;
    border-bottom: 5px solid #B98766;
    border-radius: 12px;
    padding-right: 45px;
    cursor: pointer;

    &::after {
        content: url('../icons/tap.svg');
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 53px;
    }

    &:active {
        border-bottom: none;
    }


}