.ease {
    position: relative;
    min-height: 900px;

    &__bg {
        position: absolute;
        width: 100%;
        top: -16%;
        left: 0;
        z-index: -1;

        img {
            width: inherit;
        }
    }

    &__wrap {
        margin-top: 73px;
        padding-left: 190px;
        display: flex;
    }

    &__left-content {
        position: relative;
    }

    &__right-content {
        z-index: 1;
        img{
            margin: -17% 0 0 -17%;
        }
    }

    &__form {
        position: absolute;
        top: 19%;
        left: 23%;

        &-title {
            font-size: 30px;
            line-height: 32px;
            text-align: center;
            color: #34343F;
            margin: 0 auto;
            margin-bottom: 21px;
            max-width: 303px;
        }

        &-subtitle {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #34343F;
            max-width: 272px;
            margin: 0 auto;
            margin-bottom: 50px;
        }
    }

}