.header {
    padding: 15px 0;
    min-height: 985px;
    position: relative;
    background: url('../img/bg-header.png') center (center/cover) no-repeat;
    background-color: $bg-color;

    &__img {
        position: absolute;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        height: 75px;
    }

    &__top-box {
        display: flex;
        align-items: center;
    }

    &__top-text {
        font-size: 12px;
        padding-left: 51px;
        font-weight: 400;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -15px;
            left: 25px;
            width: 1px;
            height: 56px;
            background-color: rgba(255, 255, 255, .1);
        }
    }

    nav {
        z-index: 1;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 385px;
        font-size: 16px;
        font-weight: 500;
        z-index: 1;

        &__item {
            position: relative;
            cursor: pointer;

            &:hover {
                &::before {

                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translate(-50%);
                    width: 50%;
                    height: 1px;
                    background-color: $color;
                }
            }
        }


        &__item+.menu__item {
            margin-left: 32px;
        }
    }

    &__top-call {
        display: flex;
        align-items: center;
        z-index: 1;
    }

    &__top-phone {
        font-weight: 700;
        color: #fff;
        font-size: 22px;
        line-height: 26px;
    }


    &__top-btn {
        display: inline-block;
        color: $color;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        padding-left: 42px;
        cursor: pointer;
        margin-left: 30px;
        padding-bottom: 2px;

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            color: #b98766;
            bottom: 0px;
            left: 43px;
            width: 113px;
            border-bottom: 1px dashed;
        }

        &::before {
            content: url('../icons/phone.svg');
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
        }
    }

    &__content {
        padding: 158px 0 190px 125px;
        position: relative;
    }

    &__content-box {
        max-width: 581px;
    }

    .title {
        margin-bottom: 27px;
    }

    &__content-text {
        margin-bottom: 70px;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        font-weight: 400;

        span {
            color: #C5988F;
            font-weight: 700;
        }
    }

    &__content-img {
        position: absolute;
        top: -20px;
        right: -10px;
    }


    &__scroll {
        position: absolute;
        left: -90px;
        top: 45%;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, .3);
        transform: rotate(-90deg);

        &::after {
            content: url('../icons/scroll-down.svg');
            position: absolute;
            left: 0;
            transform: rotate(-90deg);
            top: -9px;
            left: -50px;
            transform: rotate(-90deg);
        }

        &::before {
            content: url('../icons/arrow-down.svg');
            position: absolute;
            top: -1px;
            left: -69px;
            animation: arrow 1s infinite;
            transform: rotate(90deg);
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        padding: 0 70px;

    }

    &__item {
        position: relative;
        width: 258px;
        height: 171px;
        &:nth-child(2n){
            width: 100px;
        }

    }

    &__item-img {
        position: absolute;
        top: 25px;
        left: 25px;
        z-index: 1;


    }

    .dresser {
        top: 17px;
        left: 17px;
    }

    &__item-star {
        position: relative;
        top: 13px;
        left: 13px;
        width: 60px;
        height: 60px;
        background: #F8E6E2;
        transform: rotate(45deg);
        z-index: 1;

        &::after,
        &::before {
            content: '';
            background: #F8E6E2;
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
        }

        &::before {
            transform: rotate(30deg);
        }

        &::after {
            transform: rotate(60deg);
        }
    }

    &__item-num {
        position: absolute;
        top: 19px;
        left: 61px;
        font-family: 'Tenor Sans', sans-serif;
        font-size: 80px;
        line-height: 94px;
        text-align: center;
        text-transform: uppercase;
        color: #696975;
        z-index: 0;
    }

    &__item-descr {
        color: #fff;

        font-family: 'Tenor Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
    }

}