@media(max-width: 1832px) {
    .header {
        .title {
            font-size: 40px;
            line-height: normal;
        }

        &__content {

            &-box {
                max-width: 470px;
            }

            &-img {
                max-width: 70%;
                top: 20px;
            }
        }

        &__item:nth-child(2n)::before {
            top: 13px;
            left: -160px;
        }
    }

    .time {
        &__wrap {
            padding-top: 30px;
        }

        .title {
            font-size: 40px;
        }
    }

    .location {
        .title {
            font-size: 40px;
            line-height: normal;
        }
    }
}

@media(max-width: 1740px) {
    .time {
        &__btn {
            top: 40%;
            left: 38%;
        }
    }

}

@media(max-width: 1620px) {
    .time {

        &__btn {
            top: 36%;
        }
    }
}

@media(max-width: 1540px) {
    .header {
        &__content {
            padding: 139px 0 100px 125px
        }
    }

    .time {
        min-height: 1000px;
        padding: 0 0 100px 0;

        &__bg {
            top: -40%;
        }

        &__btn {
            top: 32%;
            left: 38%;
        }
    }
}

@media(max-width: 1480px) {
    .header {
        .menu {
            margin-left: 15px;

            &__item+.menu__item {
                margin-left: 15px;
            }
        }

        &__top-call {
            margin-left: 15px;
        }

        &__scroll {
            left: -150px;
        }

        &__content {
            padding: 100px 0;

            &-box {
                max-width: 100%;
            }

            &-img {
                position: initial;
                max-width: 100%;
            }

            &-text {
                text-align: center;
            }
        }

        .title {
            text-align: center;
            max-width: 870px;
            margin: 0 auto;
        }

        .form {
            margin: 0 auto;
        }

        &__item:nth-child(2n)::before {
            left: -150px;
        }

        &__item:nth-child(2)::after {
            left: 90px;
        }

    }

    .time {
        padding: 140px 0 100px;

        &__bg {
            top: -20%;
        }

        &__wrap {
            display: block;

            &-img {
                margin-top: -182px;
                width: 100%;
                position: initial;
            }
        }

        &__btn {
            top: 24%;
            left: 49%;
        }

        &__info {
            text-align: center;
            margin: 0 auto;
            margin-top: -133px;
            max-width: 649px;
        }

        &__text {
            &-top {
                margin-top: 30px;
            }
        }

        .button {
            margin: 0 auto;
        }
    }

    .location {
        padding: 150px 0;

        &__bg {
            top: -14%;
        }

        &__wrap {
            left: 60%;
        }

        &__slider {
            &-text {
                left: 71%;
            }
        }

        .prev-arrow {
            right: 333px;
        }

        .next-arrow {
            right: 150px;
        }

        &__link {
            font-size: 11px;
            margin-left: 30px;
        }
    }
}

@media(max-width: 1441px) {
    .location {
        .title {
            font-size: 37px;
        }

        &__slider {


            &-text {
                left: 70%;
            }
        }
    }
}

@media(max-width: 1347px) {

    .header {
        &__top-text {
            display: none;
        }

        &__item:nth-child(2)::after {
            left: 60px;
        }
    }

    .time {
        &__btn {
            width: 100px;
            height: 100px;
            top: 22%;

            &::before {
                top: -2px;
                right: 2px;
                padding: 42px;
            }
        }
    }

    .location {
        padding: 100px 0;

        &__bg {
            top: -10%;
        }

        .title {
            font-size: 33px;
            max-width: 657px;
        }

        &__items {
            margin-bottom: 30px;
        }

        &__wrap {
            position: initial;
            max-width: 564px;
            margin: 0 auto;
            text-align: center;
        }

        &__box {
            justify-content: center;
        }

        &__title {
            font-size: 32px;
        }

        &__slider {
            &-bottom {
                margin-top: 9px;
            }

            &-text {
                left: 45%;
            }

            &-img {
                margin: 0 auto;
            }
        }

        .slick-dots {
            display: flex;
            margin-top: -37px;
            justify-content: center;
            position: initial;

            li {
                margin: 0 15px;
            }
        }

        .prev-arrow {
            right: auto;
            left: 35%;
        }

        .next-arrow {
            right: 35%;
        }

    }
}

@media(max-width: 1203px) {
    .header {
        &__top-phone {
            display: none;
        }

        &__item {

            &-star {
                width: 50px;
                height: 50px;
            }

            &-img {
                top: 8px;
                left: 8px;
            }

            &-imgdresser {
                top: -2px;
                left: 0;
            }

            &-num {
                top: 18px;
                left: 46px;
                font-size: 70px;
            }

            &-descr {
                margin-top: 92px;
                font-size: 14px;
                line-height: normal;
            }
        }

        &__item:nth-child(2n) {
            padding-top: 70px;
        }

        &__item:nth-child(2n)::before {
            width: 160px;
            height: 74px;
            top: 19px;
            left: -95px;
        }

        &__item:nth-child(2)::after {
            width: 160px;
            height: 74px;
            left: 57px;
            top: 90px;
        }
    }

    .time {
        &__bg {
            top: -25%;
        }

        .title {
            font-size: 33px;
            line-height: normal;
        }

        &__wrap-img {
            margin-top: -99px;
        }

        &__btn {
            top: 22%;
        }
    }

    .location {
        &__slider-text {
            left: 43%;
        }
    }
}

@media(max-width: 1120px) {
    .time {
        &__btn {
            height: 80px;
            width: 80px;

            &-text {
                top: -12px;
                left: 143px;
            }

            span {
                top: -112px;
            }

            &::before {
                padding: 31px;
            }
        }
    }

    .location {
        &__text {
            font-size: 17px;
            line-height: 24px;
        }

        .next {
            right: -10%;
        }

        .prev {
            left: -10%;
        }
    }
}

@media(max-width: 1025px) {

    .header {

        &__top {
            &-text {
                display: none;
            }

            &-phone {
                display: none;
            }

            &-btn {
                margin: 0;
            }
        }

        .menu {
            &__item {
                font-size: 14px;
            }

            &__item:hover::before {
                content: none;
            }
        }

        .title {
            font-size: 33px;
        }
    }

    .time {
        &__btn {
            height: 80px;
            width: 80px;
            top: 21%;

            &::before {
                padding: 31px;
            }
        }
    }

    .location {
        &__text {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 30px;
        }

        &__video {
            height: 370px;
        }

        &__slider-text {
            left: 42%;
        }

        &__title {
            font-size: 28px;
        }

        &__subtitle {
            font-size: 13px;
            line-height: 19px;
        }
    }
}

@media(max-width: 981px) {
    .header {
        .menu {

            li+li {
                margin-left: 10px;
            }

            &__item {
                padding: 10px;
            }

            &__item+.menu__item {
                margin-left: 0;
                margin-top: 10px;
            }

            &__item:hover::before {
                bottom: 0;
            }
        }

        &__bottom {
            flex-wrap: wrap;
        }

        &__item:nth-child(2)::after {
            display: none;
        }


        &__item {
            max-width: 150px;
            margin: 0 30px;
        }

        &__item:nth-child(2n)::before {
            left: -170px;
        }
    }

    .time {
        padding: 70px 0;
        min-height: 920px;

        .title {
            font-size: 30px;
        }

        &__btn {
            top: 22%;
        }

        &__text {
            &-top {
                font-size: 15px;
                line-height: 22px;
            }

            &-bottom {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }

    .location {
        .title {
            font-size: 30px;
            margin: 100px auto 40px;
        }

        &__text {
            font-size: 16px;
            line-height: 22px;
        }

        .prev-arrow {
            left: 30%;
        }

        .next-arrow {
            right: 30%;
        }
    }
}

@media(max-width: 940px) {
    .time {
        .container {
            padding: 0 80px;
        }

        min-height: 870px;

        &__btn {
            top: 25%;
        }
    }

    .location {
        .prev {
            left: -20%;
        }

        .next {
            right: -20%;
        }
        &__video{
                height: 313px;
        }
    }
}

@media(max-width: 800px) {
    .header {
        &__item {
            margin: 0;
        }

        &__item:nth-child(2n)::before {
            left: -130px;
        }
    }

    .time {
        &__btn {
            top: 23%;
        }
    }
}

@media(max-width: 780px) {
    .header {
        &__burger {
            display: block;
        }

        .container {
            padding: 0 60px;
        }

        .menu {
            display: block;
            position: absolute;
            top: 0;
            left: -100%;
            padding: 15px;
            background-color: $bg-color;
            margin: 0;
            transition: all .5s;

            &--active {
                left: 0;
            }

            li+li {
                margin: 0;
            }

            &__item {
                &:hover {
                    color: $color;
                }
            }
        }

        .title {
            font-size: 30px;
        }

        &__scroll {
            top: 35%;
            left: -40px;
        }

        &__content-text {
            max-width: 450px;
            margin-bottom: 50px;
            font-size: 15px;
            line-height: 21px;
        }

        .form {
            &__input {
                width: 230px;
                height: 52px;
            }

            span {
                top: 10px;
                left: 68px;
            }

            .button {
                width: 230px;
                margin: 0 auto;
                height: 60px;
                font-size: 8px;
            }

            &__box {
                margin: 0 auto;
                margin-top: 28px;
                width: 230px;
            }

            &__text {
                font-size: 12px;
                line-height: 15px;
            }
        }

        &__item {
            margin: 0 40px;
        }

        &__item:nth-child(2n)::before {
            left: -180px;
        }
    }

    .time {
        &__btn {
            width: 60px;
            height: 60px;

            &::before {
                padding: 20px;
            }
        }

        .button {
            width: 270px;
            height: 70px;
            font-size: 12px;
        }
    }
}

@media(max-width: 764px) {
    .time {
        min-height: 811px;

        .title {
            font-size: 25px;
        }

        &__btn {
            top: 21%;
        }

        &__text {
            &-top {
                margin-top: 40px;
            }
        }
    }
}

@media(max-width: 722px) {
    .header {
        padding-bottom: 30px;

        .title {
            font-size: 25px;
        }

        &__content {
            padding: 100px 0 50px 0;
        }
    }

    .time {
        &__bg {
            top: -15%;
        }
    }
}

@media(max-width: 660px) {
    .time {
        &__btn {
            top: 19%;
        }

        &__text {
            &-top {
                margin-top: 50px;
            }
        }
    }
}

@media(max-width: 600px) {
    .time {
        &__btn {
            top: 18%;
            left: 48%;
        }
    }
}

@media(max-width: 579px) {
    .time {
        .title {
            font-size: 22px;
        }

        &__btn {
            width: 50px;
            height: 50px;
            top: 16%;
            left: 49%;

            &::before {
                padding: 15px;

            }

            span {
                top: -126px;
            }

            &-text {
                top: -25px;
                left: 114px;
            }
        }

    }
}

@media(max-width: 570px) {
    .header {
        &__top {
            padding: 0 30px;

            &-call {
                margin-right: 50px;
            }
        }

        &__scroll {
            font-size: 9px;
        }

        &__bottom {
            margin: 0 86px;
        }

        &__item {
            margin: 0;
            height: 150px;

            &:nth-child(2n) {
                padding: 0;

                &::before {
                    display: none;
                }
            }
        }
    }

    .time {
        .container {
            padding: 0 60px;
        }

        &__btn {
            top: 17%;
        }

        &__text {
            &-top {
                margin-top: 60px;
            }
        }

        .button {
            width: 240px;
            height: 60px;
        }
    }
}

@media(max-width: 530px) {
    .time {
        &__btn {
            top: 16%;
        }
    }
}

@media(max-width: 501px) {
    .time {
        &__wrap {
            &-img {
                margin-top: -83px;
            }
        }

        .title {
            font-size: 17px;
        }

        &__btn {
            top: 15%;
            left: 48%;
        }
    }
}

@media(max-width: 470px) {
    .header {
        &__item {
            &-num {
                top: 25px;
                left: 50px;
                font-size: 60px;
            }

            &-descr {
                font-size: 12px;
            }
        }
    }

    .time {
        min-height: 680px;

        &__btn {
            top: 16%;
        }

        &__text {
            &-top {
                margin-top: 70px;
                font-size: 11px;
                line-height: 18px;
            }

            &-bottom {
                font-size: 10px;
                line-height: 16px;
            }
        }
    }
}

@media(max-width: 447px) {
    .time {
        padding: 30px 0;

        &__btn {
            width: 40px;
            height: 40px;

            &::before {
                padding: 10px;
                top: 0;
            }

            span {
                top: -133px;
                right: -95px;
            }

            &-text {
                font-size: 9px;
                line-height: normal;
                left: 121px;
            }
        }
    }
}

@media(max-width: 426px) {
    .header {
        .container {
            padding: 0 30px;
        }

        .title {
            font-size: 17px;
        }

        &__scroll {
            top: 30%;
        }

        &__top {
            &-btn {
                font-size: 10px;
            }
        }

        &__content {
            &-text {
                font-size: 12px;
                line-height: 17px;
            }
        }
    }

    .time {
        .container {
            padding: 0 30px;
        }

        &__btn {
            top: 18%;
            left: 49%;
        }

        &__text {
            &-top {
                margin-top: 80px;
            }

            &-bottom {
                margin-bottom: 30px;
            }
        }
    }
}

@media(max-width: 376px) {
    .header {
        &__scroll {
            left: -30px;
        }

        &__top-btn {
            display: none;
        }

        .form {
            span {
                left: 33px;
            }
        }
    }

    .time {
        .title {
            font-size: 15px;
        }

        &__btn {
            top: 14%;

            span {
                top: -94px;
                right: -70px;
                width: 120px;
                height: 120px;
            }

            &-text {
                left: 100px;
            }
        }
    }
}

@media(max-width: 349px) {
    .time {
        &__wrap {
            &-img {
                margin-top: -63px;
            }
        }

        &__btn {
            top: 15%;
            left: 48%;
        }
    }
}