@media(max-width: 1832px) {
    .header {
        .title {
            font-size: 40px;
            line-height: normal;
        }

        &__content {

            &-box {
                max-width: 470px;
            }

            &-img {
                max-width: 70%;
                top: 20px;
            }
        }

        &__item:nth-child(2n)::before {
            top: 13px;
            left: -160px;
        }
    }

    .time {
        &__wrap {
            padding-top: 30px;
        }

        .title {
            font-size: 40px;
        }
    }

    .location {
        .title {
            font-size: 40px;
            line-height: normal;
        }
    }

    .plan {
        &__bg {
            top: -25%;
        }
    }

    .vibeplace {
        .stories {
            .prev-stories {
                left: -3%;
            }

            .next-stories {
                right: 0;
            }
        }
    }
}

@media(max-width: 1740px) {
    .time {
        &__btn {
            top: 40%;
            left: 38%;
        }
    }

    .plan {
        &__bg {
            top: -23%;
        }
    }

    .vibeplace {
        .stories {
            .prev-stories {
                left: -7%;
            }

            .next-stories {
                right: -4%;
            }
        }
    }
}

@media(max-width: 1620px) {
    .time {

        &__btn {
            top: 36%;
        }
    }

    .plan {
        &__bg {
            top: -20%;
        }
    }

    .vibeplace {
        .stories {
            .prev-stories {
                left: -9%;
            }

            .next-stories {
                right: -6%;
            }
        }
    }
}

@media(max-width: 1540px) {
    .header {
        &__content {
            padding: 139px 0 100px 125px
        }
    }

    .time {
        min-height: 1000px;
        padding: 0 0 100px 0;

        &__bg {
            top: -40%;
        }

        &__btn {
            top: 32%;
            left: 38%;
        }
    }

    .plan {
        &__bg {
            top: -17%;
        }
    }

    .vibeplace {
        .stories {
            .prev-stories {
                left: -11%;
            }

            .next-stories {
                right: -8%;
            }

            &__master-item {
                &::before {
                    top: -27%;
                    left: -57%;
                }
            }
        }

        .conditions {
            padding: 60px 0;
        }
    }
}

@media(max-width: 1480px) {
    .header {
        .menu {
            margin-left: 15px;

            &__item+.menu__item {
                margin-left: 15px;
            }
        }

        &__top-call {
            margin-left: 15px;
        }

        &__scroll {
            left: -150px;
        }

        &__content {
            padding: 100px 0;

            &-box {
                max-width: 100%;
            }

            &-img {
                position: initial;
                max-width: 100%;
            }

            &-text {
                text-align: center;
            }
        }

        .title {
            text-align: center;
            max-width: 870px;
            margin: 0 auto;
        }

        .form {
            margin: 0 auto;
        }

        &__item:nth-child(2n)::before {
            left: -150px;
        }

        &__item:nth-child(2)::after {
            left: 90px;
        }

    }

    .time {
        padding: 140px 0 100px;

        &__bg {
            top: -20%;
        }

        &__wrap {
            display: block;

            &-img {
                margin-top: -182px;
                width: 100%;
                position: initial;
            }
        }

        &__btn {
            top: 24%;
            left: 49%;
        }

        &__info {
            text-align: center;
            margin: 0 auto;
            margin-top: -133px;
            max-width: 649px;
        }

        &__text {
            &-top {
                margin-top: 30px;
            }
        }

        .button {
            margin: 0 auto;
        }
    }

    .location {
        padding: 150px 0;

        &__bg {
            top: -14%;
        }

        &__wrap {
            left: 60%;
        }

        &__slider {
            &-text {
                left: 71%;
            }
        }

        .prev-arrow {
            right: 333px;
        }

        .next-arrow {
            right: 150px;
        }

        &__link {
            font-size: 11px;
            margin-left: 30px;
        }
    }

    .plan {
        &__bg {
            top: -15%;
        }

        &__wrap {
            display: block;
            position: initial;
        }

        &__phone {
            position: initial;
            height: 500px;

            &-img {
                top: 267px;
                left: 406px;
            }

            &-map {
                top: 231px;
                left: 482px;
            }
        }

        &__box {
            max-width: 100%;
        }

        &__text {
            text-align: center;
        }

        .button {
            margin: 0 auto;
        }

        .title {
            &__bottom {
                padding-top: 150px;
            }
        }
    }

}

@media(max-width: 1441px) {
    .location {
        .title {
            font-size: 37px;
        }

        &__slider {


            &-text {
                left: 70%;
            }
        }
    }

    .vibeplace {
        .stories {
            &__slider {
                margin-top: 0;
            }

            .slick-slide {
                min-height: 1550px;
            }

            .prev-stories {
                left: 2%;
                top: 30%;
            }

            .next-stories {
                right: 1%;
                top: 30%;
            }

            &__item {
                &-box {
                    display: block;
                }
            }

            &__before,
            &__after {
                max-width: 100%;
                order: initial;
            }

            &__master {
                margin-top: 10%;
                min-height: 770px;
                order: initial;

                &-item {
                    max-width: 100%;

                    img {
                        max-width: inherit;
                        margin: 0 auto;
                    }

                    &::before {
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-size: 100%;
                        top: -8%;
                    }

                }

                &-info {
                    right: 176px;
                }

                .button {
                    position: initial;

                    &::after {
                        top: 91%;
                        right: 34px;
                    }
                }
            }
        }
    }
}

@media(max-width: 1347px) {

    .header {
        &__top-text {
            display: none;
        }

        &__item:nth-child(2)::after {
            left: 60px;
        }
    }

    .time {
        &__btn {
            width: 100px;
            height: 100px;
            top: 22%;

            &::before {
                top: -2px;
                right: 2px;
                padding: 42px;
            }
        }
    }

    .location {
        padding: 100px 0;

        &__bg {
            top: -10%;
        }

        .title {
            font-size: 33px;
            max-width: 657px;
        }

        &__items {
            margin-bottom: 30px;
        }

        &__wrap {
            position: initial;
            max-width: 564px;
            margin: 0 auto;
            text-align: center;
        }

        &__box {
            justify-content: center;
        }

        &__title {
            font-size: 32px;
        }

        &__slider {
            &-bottom {
                margin-top: 9px;
            }

            &-text {
                left: 45%;
            }

            &-img {
                margin: 0 auto;
                padding-left: 0;
            }
        }

        .slick-dots {
            display: flex;
            margin-top: -37px;
            justify-content: center;
            position: initial;

            li {
                margin: 0 15px;
            }
        }

        .prev-arrow {
            right: auto;
            left: 35%;
        }

        .next-arrow {
            right: 35%;
        }

    }

    .plan {
        padding: 100px 0;

        .title {
            font-size: 40px;
        }

        &__phone {
            &-img {
                left: 340px;
            }

            &-map {
                top: 231px;
                left: 415px;
            }
        }

        &__text {
            font-size: 17px;
            line-height: 24px;
        }
    }

    .vibeplace {
        .container {
            padding: 0 100px;
        }
    }
}

@media(max-width: 1203px) {
    .header {
        &__top-phone {
            display: none;
        }

        &__item {

            &-star {
                width: 50px;
                height: 50px;
            }

            &-img {
                top: 8px;
                left: 8px;
            }

            &-imgdresser {
                top: -2px;
                left: 0;
            }

            &-num {
                top: 18px;
                left: 46px;
                font-size: 70px;
            }

            &-descr {
                margin-top: 92px;
                font-size: 14px;
                line-height: normal;
            }
        }

        &__item:nth-child(2n) {
            padding-top: 70px;
        }

        &__item:nth-child(2n)::before {
            width: 160px;
            height: 74px;
            top: 19px;
            left: -95px;
        }

        &__item:nth-child(2)::after {
            width: 160px;
            height: 74px;
            left: 57px;
            top: 90px;
        }
    }

    .time {
        &__bg {
            top: -25%;
        }

        .title {
            font-size: 33px;
            line-height: normal;
        }

        &__wrap-img {
            margin-top: -99px;
        }

        &__btn {
            top: 22%;
        }
    }

    .location {
        &__slider-text {
            left: 43%;
        }
    }

    .plan {
        &__bg {
            top: -11%;
        }

        .dotmarker-2 {
            &::after {
                background-size: 300px;
                width: 300px;
                height: 300px;
                top: -298px;
                left: -236px;
            }
        }

    }

    .vibeplace {
        padding-top: 100px;

        &__bg {
            top: -100px;
        }

        .title {
            font-size: 40px;
        }

        &__text {
            font-size: 17px;
            line-height: 27px;
        }
    }
}

@media(max-width: 1120px) {
    .time {
        &__btn {
            height: 80px;
            width: 80px;

            &-text {
                top: -12px;
                left: 143px;
            }

            span {
                top: -112px;
            }

            &::before {
                padding: 31px;
            }
        }
    }

    .location {
        &__text {
            font-size: 17px;
            line-height: 24px;
        }

        .next {
            right: -10%;
        }

        .prev {
            left: -10%;
        }
    }

    .plan {
        .container {
            padding: 0 130px;
        }

        &__phone {
            &-img {
                left: 185px;
            }

            &-map {
                left: 258px;
            }
        }
    }

    .vibeplace {
        .stories {
            &__master {
                &-info {
                    right: 115px;
                    bottom: 25px;
                }
            }

        }
    }
}

@media(max-width: 1051px) {

    .vibeplace {
        .stories {
            .slick-slide {
                min-height: 1850px;
            }

            &__before,
            &__after {
                &-item {
                    min-height: 150px;
                }
            }
        }
    }
}

@media(max-width: 1025px) {

    .header {

        &__top {
            &-text {
                display: none;
            }

            &-phone {
                display: none;
            }

            &-btn {
                margin: 0;
            }
        }

        .menu {
            &__item {
                font-size: 14px;
            }

            &__item:hover::before {
                content: none;
            }
        }

        .title {
            font-size: 33px;
        }
    }

    .time {
        &__btn {
            height: 80px;
            width: 80px;
            top: 21%;

            &::before {
                padding: 31px;
            }
        }
    }

    .location {
        &__text {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 30px;
        }

        &__video {
            height: 370px;
        }

        &__slider-text {
            left: 42%;
        }

        &__title {
            font-size: 28px;
        }

        &__subtitle {
            font-size: 13px;
            line-height: 19px;
        }
    }

    .plan {
        padding: 70px 0;
    }

    .vibeplace {
        &__wrap {
            display: block;
        }

        &__img {
            margin-left: 0;
        }

        &__content {
            max-width: 100%;
            text-align: center;
        }

        .button {
            margin: 0 auto;
        }

        .stories {

            .prev-stories,
            .next-stories {
                top: 20%;
            }
        }

        .conditions {
            .title {
                font-size: 30px;
                line-height: 48px;
            }

            &__items {
                margin: 62px auto 45px;
            }

            &__item {
                margin-bottom: 30px;
            }

            &__question,
            &__answer {
                font-size: 16px;
                line-height: 29px;
                color: #34343f;
            }

            &__btn {
                width: 25px;
                height: 25px;
            }

            .button {
                margin: 0 auto;
                width: 320px;
                height: 77px;
            }
        }
    }
}

@media(max-width: 981px) {
    .header {
        .menu {

            li+li {
                margin-left: 10px;
            }

            &__item {
                padding: 10px;
            }

            &__item+.menu__item {
                margin-left: 0;
                margin-top: 10px;
            }

            &__item:hover::before {
                bottom: 0;
            }
        }

        &__bottom {
            flex-wrap: wrap;
        }

        &__item:nth-child(2)::after {
            display: none;
        }


        &__item {
            max-width: 150px;
            margin: 0 30px;
        }

        &__item:nth-child(2n)::before {
            left: -170px;
        }
    }

    .time {
        padding: 70px 0;
        min-height: 920px;

        .title {
            font-size: 30px;
        }

        &__btn {
            top: 22%;
        }

        &__text {
            &-top {
                font-size: 15px;
                line-height: 22px;
            }

            &-bottom {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }

    .location {
        .title {
            font-size: 30px;
            margin: 100px auto 40px;
        }

        &__text {
            font-size: 16px;
            line-height: 22px;
        }

        .prev-arrow {
            left: 30%;
        }

        .next-arrow {
            right: 30%;
        }
    }

    .vibeplace {
        .title {
            font-size: 30px;
            line-height: 45px;
        }
    }
}

@media(max-width: 940px) {
    .time {
        .container {
            padding: 0 80px;
        }

        min-height: 870px;

        &__btn {
            top: 25%;
        }
    }

    .location {
        .prev {
            left: -20%;
        }

        .next {
            right: -20%;
        }

        &__video {
            height: 313px;
        }
    }

    .plan {
        .title {
            font-size: 30px;
            line-height: normal;
        }

        &__phone {
            &-img {
                left: 109px;
                top: 220px;
            }

            &-map {
                left: 183px;
                top: 183px;
            }
        }
    }
}

@media(max-width: 880px) {
    .location {
        &__bg {
            top: -8%;

            img {
                min-height: 1550px;
            }
        }

        .title {
            font-size: 25px;
        }

        &__num {
            font-size: 200px;
        }

        .prev,
        .next {
            width: 60px;
            height: 60px;
            background-size: contain;
        }

        &__text {
            font-size: 12px;
            line-height: 18px;
        }

        &__video {
            height: 274px;
        }

        &__descr {
            font-size: 18px;
        }

        &__item {
            position: relative;
            padding-left: 34px;
            max-width: 300px;
            font-size: 11px;
            line-height: 20px;
        }

        &__slider-img {
            max-width: 340px;
            height: 280px;
        }

        .slick-dots {
            margin-top: -15px;
        }

        &__wrap {
            margin-top: 20px;
        }

        .prev-arrow {
            left: 25%;
        }

        .next-arrow {
            right: 25%;
        }

        &__slider-text {
            left: 40%;
        }
    }

    .plan {
        padding-top: 0;
        margin-top: -100px;

        &__bg {
            top: -9%;
        }

        &__phone {
            height: 350px;

            &-dots {
                right: auto;
                left: 0;

                &::before {
                    top: 0;
                    left: 90px;
                    background-size: 100px;
                    animation: marker1-adaptive 1.7s infinite;
                }

                &::after {
                    background-size: 100px;
                    top: -3px;
                    left: 260px;
                    animation: marker2-adaptive 1.7s infinite;
                }
            }

            &-dot {
                width: 9px;
                height: 4px;
                box-shadow: 0px 5px 4px rgb(0 0 0 / 39%);
            }

            &-img {
                left: 198px;
                max-width: 600px;

                img {
                    max-width: 70%;
                }

                .dotmarker-1 {
                    left: 315px;
                    bottom: 151px;
                }

                .dotmarker-2 {
                    left: 145px;
                    bottom: 145px;
                }

                .info {
                    left: 3px;
                    width: 128px;
                    height: 60px;
                    font-size: 10px;
                    padding: 6px 10px 6px 20px;
                }

                .dot-1 {
                    bottom: 200px;
                    right: auto;
                    left: 239px;

                    &::before {
                        height: 150px;
                    }
                }

                .dot-2 {
                    top: 78px;
                    left: 354px;
                }

                .dot-3 {
                    bottom: 63px;
                    left: 108px;
                }

                .dot-4 {
                    bottom: 128px;
                    right: auto;
                    left: 263px;
                }

                .dot-5 {
                    bottom: 78px;
                    right: auto;
                    left: 173px;
                }

                .dot-6 {
                    bottom: 145px;
                    right: auto;
                    left: 215px;
                }

                .dot-7 {
                    bottom: 110px;
                    right: auto;
                    left: 198px;
                }

                .dot-8 {
                    bottom: 120px;
                    right: auto;
                    left: 175px;
                }

                .dot-9 {
                    left: 87px;
                    bottom: 106px;
                }

                .dot-10 {
                    left: 109px;
                    bottom: 150px;
                }
            }

            &-map {
                left: 199px;
                top: 124px;

                img {
                    width: 70%;
                }

                span {
                    bottom: 64px;
                    left: -40px;
                }

                &-maptext {
                    position: absolute;
                    top: -44px;
                    right: 202px;
                }
            }

            &-maptext {
                font-size: 10px;
                line-height: 11px;
            }
        }
    }
}

@media(max-width: 816px) {
    .location {
        .container {
            padding: 0 150px;
        }
    }
}

@media(max-width: 800px) {
    .header {
        &__item {
            margin: 0;
        }

        &__item:nth-child(2n)::before {
            left: -130px;
        }
    }

    .time {
        &__btn {
            top: 23%;
        }
    }

    .vibeplace {
        .conditions {
            .title {
                font-size: 24px;
                line-height: 38px;
            }
        }
    }
}

@media(max-width: 780px) {
    .header {
        &__burger {
            display: block;
        }

        .container {
            padding: 0 60px;
        }

        .menu {
            display: block;
            position: absolute;
            top: 0;
            left: -100%;
            padding: 15px;
            background-color: $bg-color;
            margin: 0;
            transition: all .5s;

            &--active {
                left: 0;
            }

            li+li {
                margin: 0;
            }

            &__item {
                &:hover {
                    color: $color;
                }
            }
        }

        .title {
            font-size: 30px;
        }

        &__scroll {
            top: 35%;
            left: -40px;
        }

        &__content-text {
            max-width: 450px;
            margin-bottom: 50px;
            font-size: 15px;
            line-height: 21px;
        }

        .form {
            &__input {
                width: 230px;
                height: 52px;
            }

            span {
                top: 10px;
                left: 68px;
            }

            .button {
                width: 230px;
                margin: 0 auto;
                height: 60px;
                font-size: 8px;
            }

            &__box {
                margin: 0 auto;
                margin-top: 28px;
                width: 230px;
            }

            &__text {
                font-size: 12px;
                line-height: 15px;
            }
        }

        &__item {
            margin: 0 41px;
        }

        &__item:nth-child(2n)::before {
            left: -180px;
        }
    }

    .time {
        &__btn {
            width: 60px;
            height: 60px;

            &::before {
                padding: 20px;
            }
        }

        .button {
            width: 270px;
            height: 70px;
            font-size: 12px;
        }
    }

    .vibeplace {
        .stories {
            &__master {
                margin-top: 10%;
                min-height: 650px;

                &-info {
                    right: 0px;
                }

                .button {
                    width: 366px;
                    height: 89px;
                }
            }

            &__text {
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 10px;
            }
        }
    }
}

@media(max-width: 764px) {
    .time {
        min-height: 811px;

        .title {
            font-size: 25px;
        }

        &__btn {
            top: 21%;
        }

        &__text {
            &-top {
                margin-top: 40px;
            }
        }


    }

    .plan {
        .container {
            padding: 0 90px;

        }

        &__phone {
            &-dots {
                left: -23px;
                bottom: -15px;
            }

            &-map {
                left: 180px;
            }
        }

        &__text {
            font-size: 14px;
            line-height: 19px;
        }

        .button {
            width: 320px;
            height: 70px;
            font-size: 11px;
        }

        .title {
            &__bottom {
                padding-top: 100px;
            }
        }
    }

    .vibeplace {
        .stories {

            &__before,
            &__after {
                &-item {
                    min-height: 130px;
                }
            }
        }

        .conditions {
            &__item {
                min-height: 30px;
            }

            &__question,
            &__answer {
                font-size: 13px;
                line-height: normal;
            }

            .button {
                width: 286px;
                height: 67px;
            }
        }
    }
}

@media(max-width: 722px) {
    .header {
        padding-bottom: 30px;

        .title {
            font-size: 25px;
        }

        &__content {
            padding: 100px 0 50px 0;
        }
    }

    .time {
        &__bg {
            top: -15%;
        }
    }

    .location {
        .container {
            padding: 0 100px;
        }

        .title {
            font-size: 25px;
            margin: 100px auto 25px;
            max-width: 500px;
        }

        .prev {
            left: -9%;
        }

        .next {
            right: -9%;
        }
    }

    .plan {
        &__phone {
            &-dots {
                &::before {
                    background-size: 80px;
                    top: 22px;
                    animation: marker1-adaptive2 1.7s infinite;
                    left: 100px;
                }

                &::after {
                    background-size: 80px;
                    top: 8px;
                    left: 236px;
                    animation: marker2-adaptive2 1.7s infinite;

                }
            }

            &-img {
                .dotmarker-1 {
                    left: 291px;
                    bottom: 151px;
                }

                .dotmarker-2 {
                    left: 155px;
                    bottom: 136px;
                }

                .dot-1 {
                    bottom: 188px;
                    left: 236px;
                }

                .dot-2 {
                    top: 85px;
                    left: 330px;
                }

                .dot-3 {
                    bottom: 77px;
                    left: 127px;
                }

                .dot-4 {
                    bottom: 133px;
                    left: 257px;
                }

                .dot-5 {
                    bottom: 88px;
                    left: 177px;
                }

                .dot-6 {
                    bottom: 147px;
                    left: 207px;
                }

                .dot-7 {
                    bottom: 123px;
                    left: 196px;
                }

                .dot-8 {
                    bottom: 131px;
                    left: 182px;
                }

                .dot-9 {
                    left: 114px;
                    bottom: 114px;
                }

                .dot-10 {
                    left: 128px;
                    bottom: 144px;
                }
            }

            &-map {
                left: 190px;
                top: 118px;
            }
        }
    }

    .vibeplace {
        .container {
            padding: 0 80px;
        }

        .title {
            font-size: 25px;
            line-height: 36px;
        }

        &__text {
            font-size: 14px;
            margin-bottom: 30px;
        }

        .button {
            width: 301px;
            height: 73px;
            font-size: 12px;
        }
    }
}

@media(max-width: 680px) {
    .plan {
        &__bg {
            top: -6%;
        }

        &__phone {
            &-dots {
                left: -45px;
                bottom: -30px;
            }

            &-map {
                left: 166px;
            }
        }
    }

    .vibeplace {
        .stories {
            .slick-slide {
                min-height: 1388px;
            }

            .prev-stories {
                left: 0;
                top: 10%;
                background-size: 50px;
            }

            .next-stories {
                right: 0;
                top: 10%;
                background-size: 50px;
            }

            &__master {
                min-height: 370px;

                &-item {
                    margin: 0 auto;
                    max-width: 80%;
                }

                &-info {
                    width: 130px;
                    height: 25px;
                    padding: 0;
                }

                &-profession {
                    font-size: 10px;
                }

                &-name {
                    font-size: 12px;
                }

                .button {
                    width: 228px;
                    height: 55px;
                    font-size: 9px;

                    &::after {
                        right: 92px;
                    }
                }
            }

            &__before,
            &__after {

                &-icon {
                    img {
                        width: 60px;
                    }

                    .before,
                    .after {
                        font-size: 40px;
                    }
                }

                &-item {
                    min-height: 108px;

                    text-align: center;
                }
            }

            &__after {
                margin-top: 70px;
            }

            &__num {
                text-align: center;
                padding: 0;

                &-check {
                    left: 70px;
                }
            }

            &__text {
                font-size: 13px;
                max-width: 250px;
            }

            &__bottom-text {
                font-size: 16px;
                line-height: 25px;
                max-width: 340px;
            }
        }
    }
}

@media(max-width: 660px) {
    .time {
        &__btn {
            top: 19%;
        }

        &__text {
            &-top {
                margin-top: 50px;
            }
        }
    }

    .location {
        .container {
            padding: 0 60px;
        }

        &__bg {
            img {
                min-height: 1480px;
            }
        }

        .prev {
            left: -6%;
        }

        .next {
            right: -6%;
        }

        .title {
            font-size: 23px;
            max-width: 440px;
        }

        &__num {
            font-size: 150px;
            left: 17px;
        }

        &__text {
            font-size: 10px;
            line-height: 14px;
        }

        &__title {
            font-size: 23px;
            line-height: normal;
            margin-bottom: 10px;
        }
    }

    .plan {
        margin-top: -200px;

        .container {
            padding: 0 60px;
        }

        .dotmarker-2 {
            &::after {
                background-size: 250px;
                width: 300px;
                height: 300px;
                top: -281px;
                left: -242px;
            }
        }
    }
}

@media(max-width: 640px) {
    .plan {
        .title {
            font-size: 25px;
        }

        &__phone {
            height: 360px;

            &-dots {
                left: -59px;
                bottom: -39px;
            }

            &-map {
                left: 145px;
            }
        }
    }

    .vibeplace {
        .stories {
            &__master {
                .button {
                    &::after {
                        right: 50px;
                    }
                }
            }
        }

        .conditions {
            .title {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}

@media(max-width: 600px) {
    .time {
        &__btn {
            top: 18%;
            left: 48%;
        }
    }

    .plan {
        &__phone {
            &-img {
                left: 87px;
            }

            &-dots {
                left: -29px;
                bottom: -20px;
            }
        }

        .dotmarker-2 {
            &::after {
                background-size: 250px;
                width: 300px;
                height: 300px;
                top: -302px;
                left: -163px;
            }
        }
    }

    .vibeplace {
        padding-top: 50px;

        &__bg {
            top: -60px;
        }

        .title {
            font-size: 20px;
            line-height: 30px;
        }

        .stories {
            .slick-slide {
                min-height: 1275px;
            }

            &__master {
                min-height: 300px;
            }
        }
    }
}

@media(max-width: 579px) {
    .header {
        &__bottom {
            margin: 0 90px;
        }

        &__item {
            margin: 0;
            height: 150px;

            &:nth-child(2n) {
                padding: 0;

                &::before {
                    display: none;
                }
            }
        }
    }

    .time {
        .title {
            font-size: 22px;
        }

        &__btn {
            width: 50px;
            height: 50px;
            top: 16%;
            left: 49%;

            &::before {
                padding: 15px;

            }

            span {
                top: -126px;
            }

            &-text {
                top: -25px;
                left: 114px;
            }
        }
    }

    .vibeplace {
        .stories {
            &__master {
                .button {
                    &::after {
                        right: 16px;
                    }
                }
            }
        }
    }
}

@media(max-width: 570px) {
    .header {
        &__top {
            padding: 0 30px;

            &-call {
                margin-right: 50px;
            }
        }

        &__scroll {
            font-size: 9px;
        }
    }

    .time {
        .container {
            padding: 0 60px;
        }

        &__btn {
            top: 17%;
        }

        &__text {
            &-top {
                margin-top: 60px;
            }
        }

        .button {
            width: 240px;
            height: 60px;
        }
    }

    .location {
        min-height: 1440px;

        &__slider {
            margin-top: -110px;
        }

        &__bg {
            img {
                min-height: 1300px;
            }
        }

        .prev,
        .next {
            width: 40px;
            height: 40px;
            background-size: contain;
        }

        .title {
            font-size: 21px;
            max-width: 348px;
        }

        &__video {
            height: 222px;
            max-width: 390px;
            margin-bottom: 35px;
        }

        &__items {
            display: block;
            margin-bottom: 0px;
        }

        &__item {
            margin: 0 auto;
            max-width: 241px;
            line-height: normal;

            span {
                top: -5px;

                &::before {
                    top: 3px;
                }
            }
        }

        &__slider-img {
            max-width: 250px;
            height: 220px;
        }

        &__title {
            font-size: 19px;
        }

        &__subtitle {
            line-height: normal;
            font-size: 10px;
        }

        .button {
            width: 210px;
            height: 60px;
            font-size: 11px;
        }
    }

    .plan {
        &__phone {
            &-img {
                .dot-1 {
                    &::before {
                        height: 83px;
                    }
                }
            }

            .info {
                bottom: 65px;
            }

            &-map {
                top: 116px;
                left: 128px;

                span {
                    width: 120px;
                    height: 120px;
                    left: -24px;
                }
            }

            &-maptext {
                font-size: 8px;
                line-height: 9px;
                top: 20px;
                max-width: 90px;
            }

            &-dots {
                left: -46px;
                bottom: -31px;
            }
        }
    }

    .vibeplace {
        .stories {

            .prev-stories,
            .next-stories {
                top: 6%;
                width: 53px;
                height: 53px;
                background-size: 40px;
            }

            .slick-slide {
                min-height: 1190px;
            }

            &__master {
                min-height: 240px;
                margin-top: 4%;

                .button {
                    width: 160px;
                    height: 45px;

                    &::after {
                        right: 36px;
                    }
                }

                &-info {
                    width: 92px;
                    height: 22px;
                    bottom: 10px;
                }

                &-profession {
                    font-size: 8px;
                    top: -20px;
                }

                &-name {
                    font-size: 9px;
                }
            }
        }

        .conditions {
            .title {
                font-size: 17px;
                line-height: normal;
            }
        }
    }
}

@media(max-width: 530px) {

    .time {
        &__btn {
            top: 16%;
        }
    }

    .location {

        .prev,
        .next {
            top: 8px;
        }

        .prev {
            left: 38%;
        }

        .next {
            right: 38%;
        }

        &__slider {
            &-text {
                left: 37%;
            }
        }
    }

    .plan {
        .title {
            font-size: 21px;
        }

        &__bg {
            top: -4%;
        }

        &__phone {
            &-dots {
                left: -63px;
                bottom: -43px;
            }

            &-map {
                top: 105px;
                left: 109px;
            }

            &-maptext {
                top: 0px;
            }
        }

        &__text {
            font-size: 11px;
            line-height: 16px;
        }

        .title {
            margin-bottom: 40px;

            &__bottom {
                padding-top: 70px;
            }
        }
    }

    .vibeplace {
        &__text {
            font-size: 12px;
            line-height: 20px;
        }

        .stories {
            &__master {
                margin: 0 60px;

                .button {
                    &::after {
                        right: 45px;
                    }
                }
            }
        }
    }
}

@media(max-width: 501px) {
    .time {
        &__wrap {
            &-img {
                margin-top: -83px;
            }
        }

        .title {
            font-size: 17px;
        }

        &__btn {
            top: 15%;
            left: 48%;
        }
    }

    .plan {
        &__phone {
            &-dots {
                &::before {
                    background-size: 60px;
                    width: 54px;
                    height: 25%;
                    top: 60px;
                    left: 141px;
                    animation: marker1-adaptive3 1.7s infinite;
                }

                &::after {
                    background-size: 60px;
                    width: 54px;
                    height: 25%;
                    top: 52px;
                    animation: marker2-adaptive3 1.7s infinite;
                    left: 254px;
                }
            }

            &-dotmarker {
                width: 8px;
                height: 4px;
            }

            &-dot {
                width: 7px;
                height: 3px;
            }

            &-img {
                .dotmarker-1 {
                    left: 277px;
                    bottom: 151px;
                }

                .dotmarker-2 {
                    left: 164px;
                    bottom: 141px;

                    &::after {
                        background-size: 173px;
                        top: -228px;
                        left: -110px;
                        width: 178px;
                        height: 178px;
                    }
                }

                .info {
                    left: 0px;
                }

                .dot-1 {
                    bottom: 178px;
                    left: 224px;
                }

                .dot-2 {
                    top: 93px;
                    left: 298px;
                }

                .dot-3 {
                    bottom: 96px;
                    left: 137px;
                }

                .dot-4 {
                    bottom: 130px;
                    left: 240px;
                }

                .dot-5 {
                    bottom: 102px;
                    left: 184px;
                }

                .dot-6 {
                    bottom: 141px;
                    left: 217px;
                }

                .dot-7 {
                    bottom: 120px;
                    left: 199px;
                }

                .dot-8 {
                    bottom: 130px;
                    left: 189px;
                }

                .dot-9 {
                    left: 126px;
                    bottom: 120px;
                }

                .dot-10 {
                    left: 141px;
                }
            }

            &-map {
                width: 130px;
                height: 130px;
                top: 117px;
                left: 119px;

            }

            &-maptext {
                max-width: 60px;
                top: -31px;
                right: 150px;
            }
        }

        .button {
            width: 269px;
            height: 58px;
            font-size: 10px;

            &::after {
                right: 25px;
            }
        }

        &__bottom {
            &-descr {
                font-size: 11px;
                line-height: 16px;
            }

            &-item {
                max-width: 180px;
                min-height: 112px;
                margin: 0 15px 25px;
            }

            &-text {
                line-height: 16px;
                font-size: 11px;
            }
        }
    }
}

@media(max-width: 470px) {
    .header {
        &__item {
            &-num {
                top: 25px;
                left: 50px;
                font-size: 60px;
            }

            &-descr {
                font-size: 12px;
            }
        }
    }

    .time {
        min-height: 680px;

        &__btn {
            top: 16%;
        }

        &__text {
            &-top {
                margin-top: 70px;
                font-size: 11px;
                line-height: 18px;
            }

            &-bottom {
                font-size: 10px;
                line-height: 16px;
            }
        }
    }

    .location {
        &__bg {
            img {
                min-height: 1240px;
            }
        }

        &__slider {
            margin-top: -80px;
        }

        .prev {
            left: 30%;
        }

        .next {
            right: 30%;

        }

        .title {
            font-size: 18px;
        }

        &__num {
            font-size: 110px;
        }

        &__descr {
            font-size: 14px;
        }

        &__video {
            height: 197px;
        }

        .video-btn {
            img {
                width: 80px;
            }
        }


        .prev-arrow {
            left: 20%;
        }

        .next-arrow {
            right: 20%;
        }

        &__link {
            font-size: 8px;
            margin-left: 10px;
        }

        .button {
            width: 170px;
            height: 40px;
            font-size: 8px;
        }
    }

    .plan {
        .title {
            font-size: 19px;
        }

        &__phone {
            height: 300px;

            &-map {
                width: 130px;
                height: 130px;
                top: 100px;
            }
        }
    }

    .vibeplace {
        .container {
            padding: 0 60px;
        }

        .title {
            font-size: 17px;
            line-height: normal;
        }

        &__text {
            font-size: 10px;
            line-height: 17px;
        }

        .button {
            width: 240px;
            height: 55px;
            font-size: 9px;

            &::after {
                right: 31px;
            }
        }

        .stories {
            .slick-slide {
                min-height: 1251px;
            }

            &__master {
                margin: 0 40px;
                min-height: 315px;
            }

            .button {
                width: 200px;
                height: 50px;

                &::after {
                    right: 69px;
                }
            }
        }
    }
}

@media(max-width: 447px) {
    .time {
        padding: 30px 0;

        &__btn {
            width: 40px;
            height: 40px;

            &::before {
                padding: 10px;
                top: 0;
            }

            span {
                top: -133px;
                right: -95px;
            }

            &-text {
                font-size: 9px;
                line-height: normal;
                left: 121px;
            }
        }
    }

    .plan {
        &__phone {
            &-dots {
                left: -78px;
                bottom: -56px;
            }

            &-map {
                top: 101px;
                left: 106px;
            }
        }

        .title {
            &__bottom {
                font-size: 17px;
            }
        }
    }
}

@media(max-width: 426px) {
    .header {
        .container {
            padding: 0 30px;
        }

        .title {
            font-size: 17px;
        }

        &__scroll {
            top: 30%;
        }

        &__top {
            &-btn {
                font-size: 10px;
            }
        }

        &__content {
            &-text {
                font-size: 12px;
                line-height: 17px;
            }
        }
    }

    .time {
        .container {
            padding: 0 30px;
        }

        &__btn {
            top: 18%;
            left: 49%;
        }

        &__text {
            &-top {
                margin-top: 80px;
            }

            &-bottom {
                margin-bottom: 30px;
            }
        }
    }

    .location {
        min-height: 1380px;

        &__bg {
            img {
                min-height: 1200px;
            }
        }

        .title {
            font-size: 16px;
        }

        &__text {
            margin-bottom: 20px;
        }

        &__video {
            margin-bottom: 25px;
            height: 170px;
        }

        &__descr {
            margin-bottom: 20px;
            line-height: normal;
        }

        &__wrap {
            margin-top: 10px;
        }

        &__slider-text {
            left: 35%;
            font-size: 40px;

            span {
                font-size: 17px;
            }
        }
    }

    .plan {
        &__phone {
            &-img {

                left: 60px;

                .dotmarker-2 {
                    &::after {
                        background-size: 173px;
                        top: -200px;
                    }
                }

                .info {
                    width: 97px;
                    height: 44px;
                    font-size: 7px;
                    line-height: normal;
                    padding: 6px 10px 6px 16px;
                }
            }

            &-map {
                top: 137px;
                left: 77px;
            }

            &-maptext {
                top: -35px;
                right: 94px;
                text-align: left;
            }
        }
    }

    .vibeplace {
        .conditions {

            &__question,
            &__answer {
                font-size: 11px;
            }

            &__btn {
                width: 18px;
                height: 18px;
            }

            .button {
                width: 206px;
                height: 46px;
            }
        }
    }
}

@media(max-width: 410px) {
    .plan {
        min-height: 1550px;

        .title {
            font-size: 15px;
        }

        &__phone {
            height: 290px;

            &-dots {
                left: -83px;
                bottom: -58px;
            }

            &-img {
                top: 190px;
                left: 40px;
            }

            &-map {
                left: 55px;
                top: 104px;
            }
        }
    }

    .vibeplace {
        .title {
            font-size: 15px;
        }

        .stories {
            .slick-slide {
                min-height: 1143px;
            }

            &__master {
                min-height: 250px;
            }

            .button {
                &::after {
                    right: 39px;
                }
            }

            &__before,
            &__after {
                &-icon {
                    margin-bottom: 20px;

                    img {
                        width: 45px;
                    }

                    .before,
                    .after {
                        font-size: 30px;
                    }
                }
            }

            &__num {
                font-size: 50px;

                &-check {
                    width: 20px;
                    height: 20px;
                    left: 90px;
                    top: 14px;
                }
            }

            &__bottom-text {
                font-size: 15px;
                line-height: 22px;
                margin-top: 10px;
            }
        }
    }
}

@media(max-width: 376px) {
    .header {
        &__scroll {
            left: -30px;
        }

        &__top-btn {
            display: none;
        }

        .form {
            span {
                left: 33px;
            }
        }
    }

    .time {
        .title {
            font-size: 15px;
        }

        &__btn {
            top: 14%;

            span {
                top: -94px;
                right: -70px;
                width: 120px;
                height: 120px;
            }

            &-text {
                left: 100px;
            }
        }
    }

    .location {
        min-height: 1100px;

        &__bg {
            img {
                min-height: 970px;
            }
        }

        &__slider {
            margin-top: -130px;

            &-text {
                font-size: 34px;
            }

            &-img {
                max-width: 200px;
                height: 175px;
            }
        }

        .slick-dots li {
            margin: 0 10px;
        }

        .title {
            font-size: 15px;
            margin: 100px auto 15px;
        }

        &__text {
            font-size: 7px;
            line-height: normal;
        }

        &__num {
            font-size: 100px;
            left: -3px;
        }

        &__descr {
            margin-bottom: 12px;
            font-size: 11px;
        }

        &__video {
            margin-bottom: 17px;
            height: 140px;
        }

        &__item {
            font-size: 9px;
            min-height: 21px;
            padding-left: 25px;

            span {
                width: 12px;
                height: 12px;
                top: -2px;

                &::before {
                    left: 0;
                    top: 2px;
                }
            }
        }

        &__title {
            font-size: 14px;
        }

        &__subtitle {
            font-size: 9px;
        }

        .button {
            width: 150px;
            height: 40px;
            font-size: 7px;

            &::after {
                right: 25px;

            }
        }

        &__link {
            font-size: 7px;
        }
    }

    .plan {
        &__phone {
            &-map {
                left: 44px;
            }

            &-dots {
                left: -91px;
                bottom: -65px;
            }
        }

        .button {
            width: 213px;
            font-size: 7px;
        }
    }

    .vibeplace {
        .button {
            width: 195px;
            height: 50px;
            font-size: 7px;
        }

        .stories {
            .slick-slide {
                min-height: 1187px;
            }

            .button {
                width: 172px;

                &::after {
                    right: 23px;
                    top: 88%;
                }
            }

            &__num-check {
                left: 80px;
            }
        }
    }
}

@media(max-width: 352px) {
    .time {
        &__wrap {
            &-img {
                margin-top: -63px;
            }
        }

        &__btn {
            top: 15%;
            left: 48%;
        }
    }

    .location {
        .prev {
            left: 20%;
        }

        .next {
            right: 20%;
        }

        .title {
            font-size: 13px;
            margin: 80px auto 15px;
        }

        &__num {
            margin-top: -20px;
        }

        &__subtitle {
            margin-bottom: 15px;
        }

        .button {
            display: block;
            margin: 0 auto;
            margin-bottom: 5px;
        }

        &__box {
            display: block;
        }

        &__link {
            margin-left: 0;
        }

        .next-arrow {
            right: 12%;
        }
    }

    .plan {
        .title {
            font-size: 13px;

            &__bottom {
                padding-top: 40px;

            }
        }

        &__phone {
            height: 260px;

            &-img {
                top: 160px;

                img {
                    max-width: 80%;
                }
            }

            &-map {
                top: 75px;
            }
        }

        &__text {
            font-size: 9px;
            line-height: 13px;
        }
    }

    .vibeplace {
        .stories {
            &__master {
                margin: 0 15px;
            }

            .slick-slide {
                min-height: 1187px;
            }

            .prev-stories {
                left: -9%;
            }

            .next-stories {
                right: -9%;
            }

            .button {
                width: 172px;

                &::after {
                    right: 38px;
                    top: 89%;
                }
            }

            &__num-check {
                left: 65px;
            }
        }
    }
}