.plan {
    background-color: $bg-color;
    min-height: 1500px;
    padding: 100px 0;
    position: relative;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
    }

    &__bg {
        width: 100%;
        position: absolute;
        top: -28%;
        left: 0;

        img {
            width: inherit;
        }
    }

    .title {
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 83px;

        &__bottom {
            max-width: 838px;
            padding-top: 274px;
        }
    }

    &__wrap {
        display: flex;
        max-width: 1100px;
        position: relative;
        margin: 0 auto;
    }

    &__box {
        max-width: 419px;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        color: #FFFFFF;
        margin-bottom: 45px;

        span {
            color: #EAB1B4;
        }
    }

    .button {
        width: 409px;
        height: 107px;
    }

    &__phone {
        position: relative;

        &-img {
            position: absolute;
            top: 149px;
            left: 93px;

            &::before,
            &::after {
                content: url('../icons/marker-map.svg');
                position: absolute;
                top: 64px;
                left: 182px;
                animation: marker1 1.7s infinite;
            }

            &::after {
                top: 43px;
                right: 106px;
                left: auto;
                animation: marker2 1.7s infinite;
            }
        }

        &-dot {
            position: absolute;
            width: 11px;
            height: 6px;
            background: linear-gradient(146deg, #E3BD98 7%, #C2885F 93%);
            box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.39);
            border-radius: 50%;

            .callout {
                position: absolute;
                bottom: 119px;
                left: 4px;
                width: 148px;
                height: 89px;
                background-color: #F4DDD9;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 0.5px;
                color: #363348;
                padding: 9px 15px 10px 22px;
                border-top-left-radius: 25px;
                border-bottom-right-radius: 25px;
                border: 4px solid rgba(198, 139, 97, .5);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            &:nth-child(1) {
                top: 80px;
                right: 270px;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 3px;
                    right: 5px;
                    border-left: 1px dashed #E7B895;
                    height: 185px;
                }
            }

            &:nth-child(2) {
                top: 123px;
                right: 95px;
            }

            &:nth-child(3) {
                bottom: 104px;
                left: 181px;
            }

            &:nth-child(4) {
                bottom: 211px;
                right: 227px;
            }

            &:nth-child(5) {
                bottom: 129px;
                right: 383px;
            }

            &:nth-child(6) {
                bottom: 239px;
                right: 306px;
            }

            &:nth-child(7) {
                bottom: 183px;
                right: 345px;
            }

            &:nth-child(8) {
                bottom: 201px;
                right: 376px;
            }

            &:nth-child(9) {
                left: 150px;
                bottom: 175px;
            }

            &:last-child {
                left: 187px;
                top: 164px;
                right: auto;
            }
        }

        &-dotmarker {
            position: absolute;
            width: 11px;
            height: 6px;
            background: linear-gradient(146deg, #E3BD98 7%, #C2885F 93%);
            box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.39);
            border-radius: 50%;

            &:nth-child(2) {
                right: 162px;
                bottom: 247px;
                left: auto;
                background: transparent;
            }

            &:nth-child(3) {
                left: 241px;
                bottom: 227px;
                right: auto;
                background: transparent;
            }
        }

        &-map {
            width: 163px;
            height: 163px;
            z-index: 1;
            top: 140px;
            left: 124px;
            position: absolute;
            cursor: pointer;

            span {
                position: absolute;
                bottom: 49px;
                left: -24px;
                width: 173px;
                height: 173px;
                border-radius: 50%;
                border-left: 1px solid #fff;
                border-bottom: 1px solid transparent;
                border-top: 1px solid transparent;
                transform: rotate(-45deg)
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
                border: 4px solid rgba(178, 123, 111, 1);
            }
        }

        &-maptext {
            position: absolute;
            top: -30px;
            right: 185px;
            width: 100px;
            font-size: 13px;
            line-height: 14px;
            text-align: right;
            color: #FFFFFF;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin-bottom: 36px;

        &-item {
            max-width: 180px;
            min-height: 161px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        &-img {
            margin-bottom: 24px;
            height: 57px;
        }

        &-descr {
            color: #fff;
            font-size: 14px;
            line-height: 20px;
        }

        &-text {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
        }
    }

}