.plan {
    min-height: 1650px;
    padding: 170px 0 100px;
    position: relative;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
    }

    &__bg {
        width: 100%;
        position: absolute;
        top: -28%;
        left: 0;
        z-index: -1;

        img {
            width: inherit;
        }
    }

    .title {
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 83px;

        &__bottom {
            max-width: 838px;
            padding-top: 274px;
        }
    }

    &__wrap {
        display: flex;
        max-width: 1100px;
        position: relative;
        margin: 0 auto;
    }

    &__box {
        max-width: 419px;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        color: #FFFFFF;
        margin-bottom: 45px;

        span {
            color: #EAB1B4;
        }
    }

    .button {
        width: 409px;
        height: 107px;
    }

    &__phone {
        position: relative;

        &-dots {
            position: absolute;
            bottom: 0px;
            right: 0px;
            max-width: 680px;
            height: 260px;

            &::before,
            &::after {
                content: '';
                background-image: url('../icons/marker-map.svg');
                background-position: center;
                background-repeat: no-repeat;
                width: 120px;
                height: 53%;
                position: absolute;
            }

            &::before {
                top: -97px;
                right: 375px;
                animation: marker1 1.7s infinite;
            }

            &::after {
                top: -112px;
                right: 108px;
                animation: marker2 1.7s infinite;
            }
        }

        &-img {
            position: absolute;
            top: 164px;
            left: 469px;
        }

        &-dot {
            position: absolute;
            width: 11px;
            height: 6px;
            background: linear-gradient(146deg, #E3BD98 7%, #C2885F 93%);
            box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.39);
            border-radius: 50%;

            .info {
                position: absolute;
                bottom: 119px;
                left: 4px;
                width: 148px;
                height: 89px;
                background-color: #F4DDD9;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 0.5px;
                color: #363348;
                padding: 9px 15px 10px 22px;
                border-top-left-radius: 25px;
                border-bottom-right-radius: 25px;
                border: 4px solid rgba(198, 139, 97, .5);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        .dot-1 {
            right: 270px;
            bottom: 329px;

            &::before {
                content: '';
                position: absolute;
                bottom: 3px;
                right: 5px;
                border-left: 1px dashed #E7B895;
                height: 185px;
            }
        }

        .dot-2 {
            bottom: 283px;
            right: 95px;
        }

        .dot-3 {
            bottom: 104px;
            right: 490px;
        }

        .dot-4 {
            bottom: 211px;
            right: 227px;
        }

        .dot-5 {
            bottom: 129px;
            right: 383px;
        }

        .dot-6 {
            bottom: 239px;
            right: 306px;
        }

        .dot-7 {
            bottom: 183px;
            right: 345px;
        }

        .dot-8 {
            bottom: 201px;
            right: 376px;
        }

        .dot-9 {
            right: 521px;
            bottom: 175px;
        }

        .dot-10 {
            bottom: 245px;
            right: 482px;
        }

        &-dotmarker {
            position: absolute;
            width: 11px;
            height: 6px;
            background: linear-gradient(146deg, #E3BD98 7%, #C2885F 93%);
            box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.39);
            border-radius: 50%;

        }

        .dotmarker-1 {
            right: 162px;
            bottom: 247px;
            left: auto;
            background: transparent;
        }

        .dotmarker-2 {
            right: 429px;
            bottom: 226px;
            background: transparent;

            &::after {
                content: "";
                position: absolute;
                top: -373px;
                left: -307px;
                background-image: url('../img/circles-map.png');
                background-position: center;
                background-repeat: no-repeat;
                width: 443px;
                height: 443px;
                z-index: -1;
            }
        }

        &-map {
            width: 163px;
            height: 163px;
            z-index: 1;
            top: 126px;
            left: 544px;
            position: absolute;

            span {
                position: absolute;
                bottom: 49px;
                left: -24px;
                width: 173px;
                height: 173px;
                border-radius: 50%;
                border-left: 1px solid #fff;
                border-bottom: 1px solid transparent;
                border-top: 1px solid transparent;
                transform: rotate(-45deg);
                z-index: -1;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
                border: 4px solid rgba(178, 123, 111, 1);
                cursor: pointer;
            }
        }

        &-maptext {
            position: absolute;
            top: -30px;
            right: 185px;
            width: 100px;
            font-size: 13px;
            line-height: 14px;
            text-align: right;
            color: #FFFFFF;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;

        &-item {
            max-width: 180px;
            min-height: 161px;
            display: flex;
            flex-direction: column;
            margin: 0 15px 36px;
            justify-content: flex-start;
        }

        &-img {
            margin-bottom: 24px;
            height: 57px;
        }

        &-descr {
            color: #fff;
            font-size: 14px;
            line-height: 20px;
        }

        &-text {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
        }
    }

}