.portrait {
    position: relative;
    padding: 100px 0;
    min-height: 3530px;
    margin: 0 auto;
    margin-top: -1%;
    background-size: 1920px;
    background-image: url('../img/bg-portrait.png');
    background-position: top center;
    background-repeat: no-repeat;
    max-width: 1920px;

    .img-1 {
        position: absolute;
        top: 28%;
        left: 0%;
    }

    .img-2 {
        position: absolute;
        top: 5%;
        right: 0;
    }

    .img-3 {
        position: absolute;
        bottom: 14%;
        left: 0;
    }

    .img-4 {
        position: absolute;
        bottom: 20%;
        right: 0;
    }

    .title {
        color: #34343F;
        max-width: 986px;
        margin: 0 auto;
        margin-bottom: 38px;
    }

    .subtitle {
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: #34343F;
        margin: 0 auto;
        max-width: 920px;

        span {
            font-weight: 700;
        }
    }

    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        margin: 0 10px;
        width: 281px;
        min-height: 426px;
        text-align: center;
        margin-top: 58px;
    }

    &__img {
        width: 100%;
    }

    &__name {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 25px;
        line-height: 23px;
        color: #34343F;
        margin-bottom: 25px;
        font-weight: 400;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            width: 39px;
            height: 1px;
            background-color: #EAB1B4;
        }
    }

    &__descr {
        font-size: 16px;
        line-height: 21px;
        color: #34343F;
        width: 194px;
        margin: 0 auto;
        margin-bottom: 20px;
        font-weight: 300;
    }

    &__btn {
        width: 269px;
        height: 75px;
        margin: 0 auto;
    }

    .mathematik {
        padding: 200px 0;

        &__img {
            width: 100%;
            min-width: 200px;
            position: relative;
            z-index: 0;
            min-height: 620px;

            img {
                position: absolute;
                width: 80%;
                top: 0;
                left: 0;
            }
        }

        &__wrap {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .subtitle {
            max-width: 1150px;
            z-index: 1;
        }

        &__before,
        &__after {
            position: relative;
            min-height: 620px;
            font-size: 16px;
            line-height: 21px;
            color: #34343F;
            font-style: italic;
            width: 50%;
        }

        &__before::after {
            content: '';
            position: absolute;
            top: 42px;
            left: 92%;
            width: 90px;
            height: 90px;
            background-image: url('../icons/vs-icon.svg');
            background-repeat: no-repeat;
        }

        &__img-1 {
            img {
                top: 34px;
                left: 141px;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -8%;
                left: 33%;
                width: 343px;
                height: 122px;
                background-image: url(../icons/price-before.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &__img-2 {
            img {
                top: -40px;
                left: -15px;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -5%;
                right: 40%;
                width: 343px;
                height: 122px;
                background-image: url(../icons/price-after.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &__after-text,
        &__before-text {
            max-width: 143px;
            position: absolute;
            z-index: 1;
            font-size: 14px;

            &::before {
                content: "";
                position: absolute;
                width: 117px;
                height: 117px;
                border-radius: 50%;
                border-top: 1px solid transparent;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                border-left: 1px solid #aeaeae;
            }
        }

        &__before-text {
            left: 120px;
            top: 191px;

            &::before {
                top: 57px;
                transform: rotate(-45deg);
                left: 108px;
            }
        }

        &__after-text {
            right: 170px;
            top: 57px;

            &::before {
                top: 56px;
                transform: rotate(225deg);
                left: 10px;
            }
        }

        &__box {
            z-index: 1;
            text-align: center;
            position: relative;
            font-style: normal;
        }

        .box-before {
            position: absolute;
            transform: rotate(-10deg);
            top: 83px;
            left: 75%;
        }

        .box-after {
            position: absolute;
            transform: rotate(10deg);
            top: 89px;
            right: 80%;
        }

        &__name {
            font-size: 40px;
            line-height: 30px;
            color: #34343F;
            text-shadow: 0px 2px 14px #FFFFFF;
        }

        &__subname {
            font-size: 12px;
            line-height: 23px;
            color: #CE946B;
        }

        &__price {
            position: absolute;
            color: #fff;
            font-size: 14px;
        }

        &__price-descr {
            margin-bottom: 20px;
            text-align: center;
        }

        .price-before {
            bottom: -37px;
            left: 36%;
        }

        .price-after {
            bottom: -25px;
            left: 18%;
        }

        &__price-num {
            font-family: 'Tenor Sans', sans-serif;
            text-align: right;
            max-width: 257px;

            span {
                font-family: 'Tenor Sans', sans-serif;
                font-size: 65px;
            }
        }

        &__bottom-text {
            max-width: 1243px;
            margin: 0 auto;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #34343F;
            margin-top: 100px;
        }
    }

    .advantages {

        &__items {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 70px;
        }

        &__item {
            width: 277px;
            margin: 0 53px 98px;
            position: relative;
            text-align: center;
            padding: 0 15px;

            &:nth-child(3),
            &:nth-child(6) {
                &::after {
                    display: none;
                }
            }

            &::after {
                position: absolute;
                content: '';
                width: 250px;
                height: 250px;
                border-radius: 50%;
                top: -17%;
                left: 90%;
                border: 1px solid rgba(206, 148, 107, 1);
                border-top: none;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;

            }
        }

        &__img {
            width: 105px;
            height: 105px;
            border-radius: 50%;
            text-align: center;
            padding: 27px;
            background-color: rgba(240, 217, 212, 1);
            margin: 0 auto;
            margin-bottom: 19px;
        }

        &__text {
            font-family: 'Tenor Sans', sans-serif;
            font-size: 22px;
            line-height: 23px;
            color: #34343F;
            margin: 0 auto;
            margin-bottom: 19px;
        }

        &__subtext {
            font-size: 16px;
            line-height: 21px;
            color: #34343F;
            max-width: 194px;
            margin: 0 auto;
        }
    }
}