.time {
    margin-top: -1px;
    position: relative;
    padding: 140px 0 100px;
    min-height: 1300px;

    &__bg {
        width: 100%;
        position: absolute;
        top: -50%;
        left: 0;

        img {
            width: inherit;
        }
    }

    &__wrap {
        display: flex;
        padding-top: 85px;
    }

    &__box {
        width: 50%;
        position: relative;

        &-img {
            position: absolute;
            top: -58%;
            left: -26%;
            z-index: -1;
        }
    }

    &__btn {
        position: absolute;
        top: 25%;
        left: 72%;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background: linear-gradient(137.66deg, #F8E6E2 19%, #E4BEB5 76.3%);
        border-bottom: 4px solid #B47F74;
        cursor: pointer;
        z-index: 1;

        &:hover {
            background: linear-gradient(137.66deg, #F8E6E2 19%, #fc9d8a 76.3%);
        }

        &::before {
            content: url('../icons/play.svg');
            position: absolute;
            top: 8px;
            right: 9px;
            z-index: 2;
            padding: 45px;
        }

        span {
            position: absolute;
            top: -79px;
            right: -78px;
            width: 170px;
            height: 170px;
            border-radius: 50%;
            border-right: 1px solid #fff;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            transform: rotate(69deg);
        }
    }

    &__btn-text {
        position: absolute;
        top: 20px;
        left: 188px;
        font-size: 13px;
        line-height: 14px;
        color: #FFFFFF;
        font-style: italic;
        font-family: 'TT Norms', sans-serif;
    }

    &__img {
        position: absolute;
        top: -20%;
        left: -195px;
        z-index: 1;
    }

    &__info {
        margin-left: 190px;
        max-width: 379px;
        z-index: 2;
        color: #FFF;
    }

    &__text-top {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        margin-bottom: 25px;
    }

    &__text-bottom {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 50px;

        span {
            color: #EAB1B4
        }
    }

    .button {
        width: 303px;
    }
}